.input-flag-base {
  background-position-x: 0.5rem;
  background-position-y: center;
  background-size: 1.25rem;
  padding-left: 2.25rem !important;
  background-repeat: no-repeat;
}

@mixin input-commons {
  input {
    &.input-de {
      @extend .input-flag-base;
      background-image: url('/assets/images/icon/de.png');
    }
    &.input-en {
      @extend .input-flag-base;
      background-image: url('/assets/images/icon/us.png');
    }
  }
}
